<header>
  <img src="portrait.jpeg" alt="Hamza Yazar Portrait" class="portrait" />
  <h1>Hamza Yazar</h1>
  <p>Senior Front-End Engineer</p>
</header>
<hr />

<app-circuit-tree></app-circuit-tree>

<!-- <nav>
  <a href="#skills">Skills</a>
  <a href="#experience">Experience</a>
  <a href="#education">Education</a>
  <a href="#contact">Contact</a>
</nav>

<div id="container" class="container">
  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li>
        <b>Front-End Frameworks: </b> Angular, JavaScript (ES6+), HTML5, CSS3
      </li>
      <li>
        <b>UI Frameworks & Libraries: </b> Bootstrap, PrimeNG, Angular Material,
        Wijmo FlexGrid
      </li>
      <li><b>State Management: </b> NGXS</li>
      <li>
        <b>Cloud Platforms: </b> Google Cloud Platform (preferred for advanced
        solutions), Firebase (preferred simple web apps), AWS
      </li>
      <li>
        <b>Tools: </b> Git, GitLab, GitHub, GitHub Actions, Nx, Lerna, Adobe Xd
      </li>
      <li>
        <b>Spoken Languages: </b> English (primary), Turkish, Pashto Dari, Urdu
      </li>
    </ul>
  </section>
  <hr />

  <section id="experience">
    <h2>Experience</h2>
    <article>
      <h3>Frontend Lead - Kalem Yazılım</h3>
      <p><em>Oct 2023 - Present | Istanbul, Turkey</em></p>
      <ul>
        <li>
          Led front-end development for J-Retail, a large-scale ERP web
          application, using Angular to build scalable, user-friendly
          interfaces.
        </li>
        <li>
          Optimized front-end performance and streamlined Git workflows to
          enhance collaboration across a large codebase.
        </li>
        <li>
          Built reusable UI components and infrastructure with Bootstrap,
          PrimeNG, and Wijmo FlexGrid, accelerating development and enabling
          complex features.
        </li>
        <li>
          Mentored 4 junior engineers in front-end best practices, including
          component design and state management with NGXS.
        </li>
        <li>
          <b>Tech Stack: </b> Angular, Keycloak, NGXS, Wijmo FlexGrid,
          Bootstrap, PrimeNG
        </li>
      </ul>
    </article>
    <article>
      <h3>Full-Stack Engineer - Sera Tarım</h3>
      <p><em>May 2021 - Jul 2022 | Ankara, Turkey</em></p>
      <ul>
        <li>
          Designed and prototyped responsive web and mobile interfaces for an
          ERP farming solution, ensuring intuitive user experiences.
        </li>
        <li>
          Presented designs to stakeholders, incorporating feedback to iterate
          on UI functionality.
        </li>
        <li>Developed front-end features using Angular.</li>
        <li><b>Tech Stack: </b> Angular, Nx, NGXS, Angular Material</li>
      </ul>
    </article>
    <article>
      <h3>Chief Technology Officer - EdgSolutions</h3>
      <p><em>Nov 2016 - Jul 2020 | Kabul, Afghanistan</em></p>
      <p>
        Promoted from Project Manager to CTO where along with other duties I:
      </p>
      <ul>
        <li>
          Directed front-end development for a proprietary ERP web application,
          overseeing UI design and implementation.
        </li>
        <li>
          Championed adoption of modern front-end tools to improve performance,
          usability, and accelerate development of public-facing apps.
        </li>
        <li>
          <b>Tech Stack: </b> Angular, Nx, NGXS, Angular Material, Bootstrap,
          GitLab.
        </li>
      </ul>
    </article>
    <article>
      <h3>Tech Lead - Murdoch University Leave Management System</h3>
      <p><em>Aug 2016 - Nov 2016 | Dubai, UAE</em></p>
      <ul>
        <li>
          Led front-end architecture for a leave management web app, ensuring a
          robust and user-friendly interface.
        </li>
        <li>Coordinated UI design, development, and deployment to Azure.</li>
        <li><b>Tech Stack: </b> ASP.NET Web Forms, Git, GitHub, Azure</li>
      </ul>
    </article>
  </section>
  <hr />

  <section id="education">
    <h2>Education</h2>
    <p>
      <strong>Bachelor of Science in Computer Science</strong><br />
      Murdoch University, Dubai, UAE<br />
      May 2012 - Nov 2016
    </p>
  </section>
  <hr />

  <section id="contact">
    <h2>Contact</h2>
    <p>
      <img
        src="location-dot-solid.svg"
        class="contact-item-icon"
        alt="Location icon"
      />
      Istanbul, Turkey
    </p>
    <p>
      <img src="envelope.svg" class="contact-item-icon" alt="Envelope icon" />
      <a
        href="mailto:yazar.hamza.dev@gmail.com?subject=Resume%20Request%20Regarding%20Opportunities&body=Hi%20Hamza%2C%0A%0AI%20came%20across%20your%20website%20and%20was%20impressed%20by%20your%20background.%20I%E2%80%99d%20appreciate%20it%20if%20you%20could%20share%20a%20copy%20of%20your%20resume%20for%20further%20discussion.%0A%0ALooking%20forward%20to%20hearing%20from%20you.%0A%0ABest%20regards."
      >
        hamza.yazar.dev&#64;gmail.com
      </a>
      • Leave me an email for a copy of my resume.
    </p>
    <p>
      <img
        src="linkedin-brands.svg"
        class="contact-item-icon"
        alt="LinkedIn icon"
      />
      <a
        href="https://www.linkedin.com/in/hamza-yazar-a9550a147"
        target="_blank"
        >https://www.linkedin.com/in/hamza-yazar-a9550a147</a
      >
    </p>
    <p>
      <img
        src="github-brands.svg"
        class="contact-item-icon"
        alt="GitHub icon"
      />
      <a href="https://github.com/spiceFlowMatrix" target="_blank"
        >https://github.com/spiceFlowMatrix</a
      >
    </p>
  </section>
</div>

<footer>
  <p>© 2025 Hamza Yazar. All rights reserved.</p>
</footer>

<div id="line"></div>
<div id="circle"></div> -->
