POSTGRES_PASSWORD=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_PASSWORD=
PGADMIN_DEFAULT_PASSWORD=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_BOOTSTRAP_MODE=off
KEYCLOAK_ADMIN=admin
KEYCLOAK_SPA_CLIENT_ID=todo-web
KEYCLOAK_SPA_ROOT_URL=http://localhost:4200
KEYCLOAK_SPA_REQUIRE_HTTPS=false
