# Declarative Keycloak config template for the master realm (rendered by entrypoint.sh)

realm: master

clients:
  - clientId: web-admin-serviceaccount
    enabled: true
    publicClient: false
    serviceAccountsEnabled: true
    standardFlowEnabled: false
    directAccessGrantsEnabled: false
    protocol: openid-connect
    secret: ${env.KEYCLOAK_ADMIN_CLIENT_SECRET}

    protocolMappers:
      - name: aud-security-admin-console
        protocol: openid-connect
        protocolMapper: oidc-audience-mapper
        config:
          included.client.audience: security-admin-console
          id.token.claim: "true"
          access.token.claim: "true"

users:
  - username: service-account-web-admin-serviceaccount
    enabled: true
    realmRoles:
      - admin
